html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: 5px solid maroon;
  margin-right:auto;
  margin-left:auto;
  margin-top: 0px;
}

/* .w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px} */